In this Python project we will imporing table of list of postal codes of canada from wikipedia and clean the data

In [10]:
#importing necessary library
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [11]:
#requesting the page of wikipedia
link = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(link, 'html.parser')

In [12]:
#the required table
table=soup.find('table',class_='wikitable sortable')

In [13]:
#forming a meaningful dataframe from the lxml file
A = []
B = []
C = []

for row in table.find_all('tr'):
    cells=row.find_all('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True).split('\n')[0])
        B.append(cells[1].find(text=True).split('\n')[0])
        C.append(cells[2].find(text=True).split('\n')[0])

In [14]:
#combining the various list to form the dataframe
df=pd.DataFrame(A,columns=['Postal Code'])
df['Borough']=B
df['Neighborhood']=C
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [15]:
#grouping the dataframe based on the postal code and combining neighborhood having same postal code together
df["Neighborhood"] = df.groupby("Postal Code")["Neighborhood"].transform(lambda neigh: ', '.join(neigh))

df = df.drop_duplicates()

if(df.index.name != 'Postal Code'):
    df =df.set_index('Postal Code')
    
df.head()

                      Borough               Neighborhood
Postal Code
M1A              Not assigned               Not assigned
M2A              Not assigned               Not assigned
M3A                North York                  Parkwoods
M4A                North York           Victoria Village
M5A          Downtown Toronto  Regent Park, Harbourfront

In [16]:
#removing the not assigned borough
df = df[df['Borough'] != 'Not assigned']
df.head()

                      Borough                                 Neighborhood
Postal Code
M3A                North York                                    Parkwoods
M4A                North York                             Victoria Village
M5A          Downtown Toronto                    Regent Park, Harbourfront
M6A                North York             Lawrence Manor, Lawrence Heights
M7A          Downtown Toronto  Queen's Park, Ontario Provincial Government

In [17]:
df.shape

(103, 2)